<app-auth-logo></app-auth-logo>
<h2 class="title" style="text-align: center;">Login</h2>
<p class="subtitle">Kindly enter your login details below to login.</p>

<form nz-form [formGroup]="authForm" class="login-form" (ngSubmit)="onSubmit()" id="login">
  <div>
    <label nzFor="email">Username:</label>
        <input type="email" nz-input formControlName="username" class="form-control" placeholder="username" />
  </div>
  <br />
  <div>
    <label  nzFor="password">Password:</label>
        <input [type]="showPassword ? 'text' : 'password'" nz-input formControlName="password" class="form-control" placeholder="password"/>
  </div>
  <div nz-row class="login-form-margin btn-group">
    <div nz-col Span="12">
      <label nz-checkbox>
        <span>Remember Me</span>&nbsp;
        <input type="checkbox" class="form-check-input" formControlName="remember">
      </label>
    </div>
    <div nz-col Span="12" class="text-right">
      <a class="reset-password-form" routerLink="/resetpassword">Reset Password</a>
    </div>
  </div>
  <div nz-row class="login-form-margin btn-group">
    <div nz-col Span="6">
      <button type="primary" class="btn btn-success btn-sm" [disabled]="authForm.invalid || formloader">
        <ng-container *ngIf="formloader">
          <i nz-icon type="'loading'"></i>
          please wait
        </ng-container>
        <ng-container *ngIf="!formloader">
          Submit
        </ng-container>
      </button>
    </div>
    <div nz-col Span="6" class="text-right">
      <a routerLink="/changepassword" class="link">Change Password</a>
    </div>
  </div>
</form>