@import "../../../variable.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f0f2f5;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
  width: 30%;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.auth {
  height: 100vh;
  ::ng-deep.navbar {
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
    padding-top: 0rem;
    transform: translateY(0px);
  }

  .auth-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .auth-left {
      height: 100vh;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(10, 10, 10, 0.2)),
        url(../../../assets/img/logins.png) no-repeat center right / cover;
      height: 100vh;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: absolute;
      width: 60%;
      left: 0;
      bottom: 0;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 552px;
        //height: 652px;
      }

      .text-content {
        margin-left: 16px;
        h2 {
          font-size: 64px;
          line-height: 76px;
          opacity: 1;
          color: rgb(19 26 38);
          max-width: 32rem;
          color: #fff;

          .text-primarygreen {
            color: $primary-color;
          }
        }

        p {
          margin-top: 0.5rem;
          max-width: 34rem;
          line-height: 2rem;
          font-weight: 500;
          color: #fff;
          font-size: 1.44rem;
          background: rgb(0 0 0 / 50%);
          padding: 10px 16px;
        }
      }
    }

    .auth-right {
      background: #f8f8f8;
      padding: 54px;
      padding-left: 90px;
      padding-right: 90px;
      position: absolute;
      width: 40%;
      right: 0;
      bottom: 0;
      overflow-y: scroll;
      height: 100%;

      .btn-close {
        position: absolute;
        right: 1.5rem;
        top: 20px;
      }

      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        color: #171f51;
        margin-bottom: 20px;
      }

      .subtitle {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #333658;
        margin-bottom: 40px;
      }

      .other-link {
        margin-top: 28px;
      }
    }
  }
}

@media (max-width: 1024.98px) {
  .auth {
    .auth-container {
      grid-template-columns: 1fr 500px;
      .auth-left {
        //height: 79vh;
        display: flex;
        align-items: unset;
        justify-content: center;
        width: 60%;
        background-position: 76% 0rem;
        background-size: cover;
        background-color: #fff;

        .text-content {
          margin-top: 80%;
          margin-left: 0;
        }
      }

      .auth-right {
        width: 40%;
        padding-left: 50px;
        padding-right: 50px;
        .title {
          margin-top: 15rem;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .auth {
    .navbar .navbar-nav .nav-item .nav-link {
      color: #171f51 !important;
    }

    .auth-container {
      .auth-right {
        background: #f8f8f8;
        padding: 54px;

        .title {
          margin-top: 12rem;
        }
      }

      .auth-right {
        background: #f8f8f8;
        padding: 54px;
        padding-left: 10rem;
        padding-right: 10rem;
        width: 100%;
        font-size: 18px;

        ::ng-deep {
          .error-container span {
            display: block;
            font-size: 18px;
          }
          .title {
            font-size: 35px;
          }

          .subtitle {
            font-size: 24px;
          }
          .ant-form {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, 0.65);
            font-size: 18px;
            font-variant: tabular-nums;
            line-height: 1.5;
            list-style: none;
            font-feature-settings: "tnum";

            label {
              font-size: 18px;
            }

            .ant-col-md-12 {
              display: block;
              box-sizing: border-box;
              width: 100%;
            }
          }

          .ant-input {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            display: inline-block;
            width: 100%;
            height: 50px;
            padding: 4px 35px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 18px;
            line-height: 1.5;
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            transition: all 0.3s;
          }
          .ant-select-selection--single {
            position: relative;
            height: 50px;
            cursor: pointer;
          }

          .ant-btn {
            line-height: 1.5;
            position: relative;
            display: inline-block;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            background-image: none;
            border: 1px solid transparent;
            box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            touch-action: manipulation;
            height: auto;
            padding: 15px 40px;
            font-size: 18px;
            border-radius: 4px;
            color: rgba(0, 0, 0, 0.65);
            background-color: #fff;
            border-color: #d9d9d9;
          }
        }
        ::ng-deep.anticon {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .auth {
    .auth-container {
      display: grid;
      grid-template-columns: 1fr;

      .auth-left {
        display: none;
      }

      .auth-right {
        width: 100%;
        padding: 32px;

        .title {
          margin-top: 5rem;
        }
      }
    }
  }
}
